In [1]:
import pandas as pd
import numpy as np

In [3]:
weather_city=pd.read_csv('C:/Users/Admin/Documents/Aroha/weather_by_cities.csv',index_col=0,parse_dates=['day'])
weather_city

                city  temperature  windspeed   event
day
2017-01-01  new york           32          6    Rain
2017-01-02  new york           36          7   Sunny
2017-01-03  new york           28         12    Snow
2017-01-04  new york           33          7   Sunny
2017-01-01    mumbai           90          5   Sunny
2017-01-02    mumbai           85         12     Fog
2017-01-03    mumbai           87         15     Fog
2017-01-04    mumbai           92          5    Rain
2017-01-01     paris           45         20   Sunny
2017-01-02     paris           50         13  Cloudy
2017-01-03     paris           54          8  Cloudy
2017-01-04     paris           42         10  Cloudy

In [3]:
weather_city.groupby('city').max()

                day  temperature  windspeed  event
city
mumbai   2017-01-04           92         15  Sunny
new york 2017-01-04           36         12  Sunny
paris    2017-01-04           54         20  Sunny

In [4]:
weather_city.groupby('city').mean()

          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75

In [9]:
weather_city.groupby('city')['day'].max()

city
mumbai     2017-01-04
new york   2017-01-04
paris      2017-01-04
Name: day, dtype: datetime64[ns]

In [10]:
weather_city.groupby('city').get_group('new york')

         day      city  temperature  windspeed  event
0 2017-01-01  new york           32          6   Rain
1 2017-01-02  new york           36          7  Sunny
2 2017-01-03  new york           28         12   Snow
3 2017-01-04  new york           33          7  Sunny

In [11]:
weather_city.groupby('city').get_group('new york').max()

day            2017-01-04 00:00:00
city                      new york
temperature                     36
windspeed                       12
event                        Sunny
dtype: object

In [13]:
weather_city.groupby('city').get_group('mumbai')['event'].mode()

0    Fog
dtype: object

In [15]:
for city,data in weather_city.groupby('city'):
    print('city=',city)
    print(data)

city= mumbai
         day    city  temperature  windspeed  event
4 2017-01-01  mumbai           90          5  Sunny
5 2017-01-02  mumbai           85         12    Fog
6 2017-01-03  mumbai           87         15    Fog
7 2017-01-04  mumbai           92          5   Rain
city= new york
         day      city  temperature  windspeed  event
0 2017-01-01  new york           32          6   Rain
1 2017-01-02  new york           36          7  Sunny
2 2017-01-03  new york           28         12   Snow
3 2017-01-04  new york           33          7  Sunny
city= paris
          day   city  temperature  windspeed   event
8  2017-01-01  paris           45         20   Sunny
9  2017-01-02  paris           50         13  Cloudy
10 2017-01-03  paris           54          8  Cloudy
11 2017-01-04  paris           42         10  Cloudy

In [16]:
for city,data in weather_city.groupby('city'):
    print(city)
    print(data)

mumbai
         day    city  temperature  windspeed  event
4 2017-01-01  mumbai           90          5  Sunny
5 2017-01-02  mumbai           85         12    Fog
6 2017-01-03  mumbai           87         15    Fog
7 2017-01-04  mumbai           92          5   Rain
new york
         day      city  temperature  windspeed  event
0 2017-01-01  new york           32          6   Rain
1 2017-01-02  new york           36          7  Sunny
2 2017-01-03  new york           28         12   Snow
3 2017-01-04  new york           33          7  Sunny
paris
          day   city  temperature  windspeed   event
8  2017-01-01  paris           45         20   Sunny
9  2017-01-02  paris           50         13  Cloudy
10 2017-01-03  paris           54          8  Cloudy
11 2017-01-04  paris           42         10  Cloudy

In [17]:
for city, data in weather_city.groupby('city'):
    print("\n")
    print("city:",city)
    print("data:",data)

city: mumbai
data:          day    city  temperature  windspeed  event
4 2017-01-01  mumbai           90          5  Sunny
5 2017-01-02  mumbai           85         12    Fog
6 2017-01-03  mumbai           87         15    Fog
7 2017-01-04  mumbai           92          5   Rain


city: new york
data:          day      city  temperature  windspeed  event
0 2017-01-01  new york           32          6   Rain
1 2017-01-02  new york           36          7  Sunny
2 2017-01-03  new york           28         12   Snow
3 2017-01-04  new york           33          7  Sunny


city: paris
data:           day   city  temperature  windspeed   event
8  2017-01-01  paris           45         20   Sunny
9  2017-01-02  paris           50         13  Cloudy
10 2017-01-03  paris           54          8  Cloudy
11 2017-01-04  paris           42         10  Cloudy

In [19]:
mb=weather_city.groupby('city').get_group('mumbai')

In [20]:
mb.to_csv('mumbai_data.csv')

In [22]:
weather_city.groupby('city').max()

                day  temperature  windspeed  event
city
mumbai   2017-01-04           92         15  Sunny
new york 2017-01-04           36         12  Sunny
paris    2017-01-04           54         20  Sunny

In [23]:
weather_city.groupby('city').mean()

          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75

In [24]:
weather_city.describe()

       temperature  windspeed
count    12.000000  12.000000
mean     56.166667  10.000000
std      25.044808   4.572646
min      28.000000   5.000000
25%      35.250000   6.750000
50%      47.500000   9.000000
75%      85.500000  12.250000
max      92.000000  20.000000

In [25]:
weather_city.groupby('city').describe()

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

In [26]:
weather_city.groupby('city').size()

city
mumbai      4
new york    4
paris       4
dtype: int64

In [27]:
weather_city.groupby('city').count()

          day  temperature  windspeed  event
city
mumbai      4            4          4      4
new york    4            4          4      4
paris       4            4          4      4

#### Group data using custom function: Let's say you want to group your data using custom function. Here the requirement is to create three groups
#### 1.Days when temperature was between 80 and 90
#### 2.Days when it was between 50 and 60
#### 3.Days when it was anything else

In [31]:
def grouper(weather_city, idx, col):
    if 80 <= weather_city[col].loc[idx] <= 90:
        return '80-90'
    elif 50 <= weather_city[col].loc[idx] <= 60:
        return '50-60'
    else:
        return 'others'

In [32]:
g = weather_city.groupby(lambda x: grouper(weather_city, x, 'temperature'))
g

In [40]:
for key, d in g:
    print("Group by Key: {}\n".format(key))
    print(d)

Group by Key: 2017-01-01 00:00:00

         day      city  temperature  windspeed  event
0 2017-01-01  new york           32          6   Rain
4 2017-01-01    mumbai           90          5  Sunny
8 2017-01-01     paris           45         20  Sunny
Group by Key: 2017-01-02 00:00:00

         day      city  temperature  windspeed   event
1 2017-01-02  new york           36          7   Sunny
5 2017-01-02    mumbai           85         12     Fog
9 2017-01-02     paris           50         13  Cloudy
Group by Key: 2017-01-03 00:00:00

          day      city  temperature  windspeed   event
2  2017-01-03  new york           28         12    Snow
6  2017-01-03    mumbai           87         15     Fog
10 2017-01-03     paris           54          8  Cloudy
Group by Key: 2017-01-04 00:00:00

          day      city  temperature  windspeed   event
3  2017-01-04  new york           33          7   Sunny
7  2017-01-04    mumbai           92          5    Rain
11 2017-01-04     paris           42         10  Cloudy

In [36]:
g = weather_city.groupby("day")
g

In [37]:
for city, data in g:
    print("\n")
    print("city:",city)
    print("data:",data)

city: 2017-01-01 00:00:00
data:          day      city  temperature  windspeed  event
0 2017-01-01  new york           32          6   Rain
4 2017-01-01    mumbai           90          5  Sunny
8 2017-01-01     paris           45         20  Sunny


city: 2017-01-02 00:00:00
data:          day      city  temperature  windspeed   event
1 2017-01-02  new york           36          7   Sunny
5 2017-01-02    mumbai           85         12     Fog
9 2017-01-02     paris           50         13  Cloudy


city: 2017-01-03 00:00:00
data:           day      city  temperature  windspeed   event
2  2017-01-03  new york           28         12    Snow
6  2017-01-03    mumbai           87         15     Fog
10 2017-01-03     paris           54          8  Cloudy


city: 2017-01-04 00:00:00
data:           day      city  temperature  windspeed   event
3  2017-01-04  new york           33          7   Sunny
7  2017-01-04    mumbai           92          5    Rain
11 2017-01-04     paris           42         10  Cloudy

In [41]:
g['temperature'].max()

day
2017-01-01    90
2017-01-02    85
2017-01-03    87
2017-01-04    92
Name: temperature, dtype: int64

In [43]:
g.groups

{2017-01-01 00:00:00: [0, 4, 8], 2017-01-02 00:00:00: [1, 5, 9], 2017-01-03 00:00:00: [2, 6, 10], 2017-01-04 00:00:00: [3, 7, 11]}

In [55]:
g1 = weather_city.groupby('city')
g1[['day','temperature']].max().loc['mumbai']

day            2017-01-04 00:00:00
temperature                     92
Name: mumbai, dtype: object